.category {
    background-color: white;  
    display: inline-block;
    flex-wrap: nowrap;
    cursor: pointer;
    width: 20%;
}

.category:hover {
    background-color: #ececec; 
}

.category div {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin-left: 5px;
    margin-right: 5px;
}

.up {
    color: green;
}

.down {
    color: red;
}